.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.user {
  width: 60%;
  border: 1px black solid;
  margin: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.followers {
  width: 60%;
  border: 1px black solid;
  margin: 20px;
  padding: 10px;
}

img {
  width: 300px;
}

span {
  font-size: 30pt;
  font-weight: bold;
}
